@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background: #0f0f10;
    color: #fff;
}
  
input,
textarea {
  background-color: #ababab33;
    color: #fff;
  }